<!--
  Generated template for the MedicosEClinicasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Lista de Médicos/Clinicas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-searchbar></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let envolvido of envolvidos">
      <ion-row  (click)="selectCategoria(envolvido)">
        <ion-col>
          <div>{{envolvido.area}}</div>
        </ion-col>
        <ion-col col-2>
          <ion-icon name={{envolvido.icon}}></ion-icon>
        </ion-col>
      </ion-row>
      <div *ngIf="envolvido.icon == 'ios-arrow-down'">
        <ion-item *ngFor="let medico of envolvido.pessoas">{{medico.nome}} <p *ngIf="medico.tel">{{medico.tel}}</p> </ion-item>
      </div>
    </ion-item>
  </ion-list>
</ion-content>