page-historico {

}
.listItem1{
    background: #0F6F97;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 10px;
}
.listItem2 {
  margin-top: -7px;
  background: #1F9E6F;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 10px;
}



