page-home {
 
}
.center{
  align-items: center;
}
.logo{
  padding-left: 20px;
  align-self: center;
  width: 150px;
}
.cardButton {
    position: relative;
    height: 130px;
    border-radius: 10px;
    align-items: flex-start;
}
.cardTitle{
    color: white !important;
    font-size: 16px !important;
}
.cardImage{
    position: absolute;
    margin-top: -20px; 
    margin-left: 50px;
    height: 120px;
}
.blue {
  background: #0F6F97;
}
.green {
  background: #1F9E6F;
}
.orange {
  background: #FF6501;
}
.purple {
  background: #B581CC;
}
.gray{
   background: gray;
}
.yellow{
  background: rgb(105, 201, 203);
}
.lightgray{
 background: lightgray;
}

.textInfo{
  text-align: center;
  color: gray !important;
}







